body {
  background: -webkit-linear-gradient(90deg,#68C4C9, #41c9d6, #37b9e9);
  background:    -moz-linear-gradient(90deg,#68C4C9, #41c9d6, #37b9e9);
  background:         linear-gradient(90deg,#68C4C9, #41c9d6, #37b9e9);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}
#authorsContainer {
  width: 100%;
  box-sizing: border-box;
}

#authorsContainer form {
  display: inline-flex;
  margin: 12px;
}
#authorsContainer form label {
  color: black;
  font-weight: 500;
  padding-bottom: 8px;
}
#authorsContainer form div {
  padding: 2px 12px;
}

#authorsContainer form button,option {
  border-radius: 15%;
  width: fit-content;
  margin: 0;
  cursor: pointer;

}

/* Books Table */
#booksContainer table {
  list-style: none;
  color:rgb(74, 61, 61);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  font-size: 1rem;
  border-bottom: 1px solid black;
  text-transform: uppercase;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



